<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFG6lfG3ZMpDA/profile-displayphoto-shrink_200_200/0/1589748297201?e=1638403200&v=beta&t=IVcabUowys9xY4qxQXlnhlTSca9zA_fMJ9F68Caj4Lk" alt="euzinha" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white fs-16">nome do usuario</p>
        </li>
        <li class="nav-item pl-3">
            <a href=""></a>
           <p class="m-0 text-white fs-16"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p> 
          </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item pl-3">
        <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    </div>
  </nav>